@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
overflow-x: hidden;
margin: 0;
}



.header__background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-image: url(/img/pictures/Фон.png);
background-size: cover;   
background-position: top;
background-repeat: no-repeat;
z-index: -1;
}

.header__menu {
padding: 33px;
margin-left: 10vh;
}

.menu-button {
border: none;          
background: transparent; 
padding: 0;        
cursor: pointer; 
width: 50px;
height: 50px;  
}

.dropdown {
display: none;
position: absolute;
margin-top: 10px;
list-style: none;
padding: 0;
width: 180px;
border-radius: 5px;
z-index: 1000;
}

.dropdown li a {
display: block;
padding: 10px 15px;
color: white;
text-decoration: none;
font-size: 16px;
font-family: 'Raleway', sans-serif;
}

.dropdown li a:hover {
color: rgb(255, 218, 224);
}

.dropdown-wrapper {
position: relative;
display: inline-block;
}

.header__nav {
display: flex;            
justify-content: flex-start;
position: relative;
margin-left: 23vh;
bottom: 30px;
}

.nav-list {
list-style: none;
display: flex;     
flex-direction: row; 
gap: 40px;
font-size: 18px;
font-family: 'Raleway', sans-serif;
position: relative;
z-index: 10;
}

.nav-list a {
text-decoration: none;
color: aliceblue;
}

.nav-list a:hover{
color: palevioletred;
transition: 1s ease;
}

.header__icon {
display: flex;
justify-content: center;
position: relative;
bottom: 60px;
width: 100%;
height: 100%;
right: 30px;
}

.nav-icon {
position: relative;
display: flex;
justify-content: flex-end;
gap: 40px;
right: 10vh;
bottom: 90px;
}

.header__collection {
display: flex;
flex-direction: column;
margin-top: 30vh;
}

.header__title {
position: relative;
display: flex;
justify-content: center;
font-size: 46px;

}

.header__title h1 {
font-family: 'Raleway', sans-serif;
color: #f5f5f5;
font-weight: 300;
font-size: 60px;
}

.line {
position: relative;
border-top: 1px solid #ffffff; 
margin-top: 20px;
height: 1%;    
display: flex;

}

.header__text {
position: relative;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
text-decoration: none; 
font-size: 30px;
margin-top: 30px;
font-family: 'Raleway', sans-serif;
}

.header__text a {
text-decoration: none;
color: #f5f5f5;
}

.header__text a:hover {
color: palevioletred;
transition: 1s ease;
}

.main__catalog {
margin-top: 50vh;
font-size: 36px;
font-family: 'Raleway', sans-serif;
margin-left: 30vh;
}

.main__img {
display: flex;
justify-content: center;
gap: 20px;
}

.main__catalog {
margin-bottom: 5vh;
}

.subscription__title {
display: flex;
justify-content: center;
margin-top: 86px;
font-family: 'Raleway', sans-serif;
font-size: 36px;
}

.subscription__form {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 50px;
}

.subscription__form input {
width: 600px;
height: 50px;
border: 1px solid rgb(134, 134, 134);
text-align: center;
}

.subscription__button {
margin-top: 20px;
width: 600px;
height: 50px;
background-color: #E0BEA2;
border: none;
color: #f5f5f5;
font-family: 'Raleway', sans-serif;
}

.subscription__button:hover {
background-color: pink;
transition: 1s ease;
}

.subscription__notice {
margin-top: 20px;
text-align: center;
width: 600px;
height: 50px;
font-family: 'Raleway', sans-serif;
color: rgb(168, 167, 167);

}

.footer_nav {
display: flex;
gap: 120px;
margin-top: 100px;
width: 100%;
justify-content: center;
}

.footer__title {
font-family: 'Raleway', sans-serif;
font-size: 20px;
color: #252525;
}

.footer__list {
display: flex;
font-family: 'Raleway', sans-serif;
font-size: 16px;
margin-top: 20px;
list-style: none;
text-decoration: none;
flex-direction: column;
gap: 10px;
}

.footer__list a {
text-decoration: none;
color: #252525;
}

.back {
    margin-top: 80px;
}